.scrollable-div {
    
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.cont
        {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #333;
          width:437px;
          color: #fff;
          font-size: 1rem;
        }


        